<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2</key>
	<dict>
		<key>DetailsName</key>
		<string>1-Tomato Soup</string>
		<key>Difficulty</key>
		<integer>1</integer>
		<key>Ingredients</key>
		<dict>
			<key>10</key>
			<integer>1</integer>
			<key>15</key>
			<integer>1</integer>
			<key>20</key>
			<integer>4</integer>
			<key>8</key>
			<integer>1</integer>
		</dict>
		<key>Name</key>
		<string>Tomato Soup</string>
		<key>NumberIngredients</key>
		<integer>7</integer>
		<key>Rating</key>
		<integer>5</integer>
		<key>Unlocked</key>
		<true/>
	</dict>
	<key>1</key>
	<dict>
		<key>DetailsName</key>
		<string>1-Butternut Soup</string>
		<key>Difficulty</key>
		<integer>1</integer>
		<key>Ingredients</key>
		<dict>
			<key>13</key>
			<integer>2</integer>
			<key>15</key>
			<integer>2</integer>
			<key>7</key>
			<integer>2</integer>
		</dict>
		<key>Name</key>
		<string>Butternut Soup</string>
		<key>NumberIngredients</key>
		<integer>6</integer>
		<key>Rating</key>
		<integer>3</integer>
		<key>Unlocked</key>
		<true/>
	</dict>
	<key>3</key>
	<dict>
		<key>DetailsName</key>
		<string>2-Bean Soup</string>
		<key>Difficulty</key>
		<integer>2</integer>
		<key>Ingredients</key>
		<dict>
			<key>10</key>
			<integer>2</integer>
			<key>15</key>
			<integer>1</integer>
			<key>2</key>
			<integer>4</integer>
			<key>8</key>
			<integer>1</integer>
		</dict>
		<key>Name</key>
		<string>Bean Soup</string>
		<key>NumberIngredients</key>
		<integer>8</integer>
		<key>Rating</key>
		<integer>1</integer>
		<key>Unlocked</key>
		<true/>
	</dict>
	<key>4</key>
	<dict>
		<key>DetailsName</key>
		<string>3-Vegetable Soup</string>
		<key>Difficulty</key>
		<integer>3</integer>
		<key>Ingredients</key>
		<dict>
			<key>1</key>
			<integer>4</integer>
			<key>10</key>
			<integer>2</integer>
			<key>12</key>
			<integer>2</integer>
			<key>13</key>
			<integer>1</integer>
			<key>21</key>
			<integer>2</integer>
			<key>5</key>
			<integer>2</integer>
			<key>8</key>
			<integer>3</integer>
		</dict>
		<key>Name</key>
		<string>Vegetable Soup</string>
		<key>NumberIngredients</key>
		<integer>16</integer>
		<key>Rating</key>
		<integer>0</integer>
		<key>Unlocked</key>
		<true/>
	</dict>
</dict>
</plist>
